
/* Estilização geral */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Navbar: Links do menu */
.navbar .nav-link {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    color: #0056b3 !important;
    transition: color 0.3s ease;
}
.navbar .nav-link:hover {
    color: #003f8a !important;
}

/* Seção Hero (Banner principal) */
.hero {
    background-color: #003FA3;
    text-align: center;
    padding: 60px 20px;
    color: beige;
}

/* Títulos das seções */
.section-title {
    text-align: center;
    margin: 40px 0 20px;
}

/* Estilo de lista para cronograma */
.timeline li {
    margin-bottom: 20px;
    padding-left: 25px;
    border-left: 4px solid #007bff;
    position: relative;
    list-style-type: none;
}
.timeline li::before {
    content: "";
    position: absolute;
    left: -7px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #007bff;
    width: 14px;
    height: 14px;
    border-radius: 50%;
}
.timeline a {
    text-decoration: none;
    color: #007bff;
}
.timeline a:hover {
    text-decoration: underline;
}

/* Rodapé */
footer {
    background-color: #f8f9fa;
    padding: 20px 0;
}

   /* Destaque para a etapa atual */
.current-step {
background-color: #d9e4f0;
border-left: 4px solid #28a745;
padding: 10px;
border-radius: 4px;
}
.current-step span {
font-weight: bold;
color: #28a745;
}