    /* Centraliza o menu no modo mobile */
    @media (max-width: 991.98px) {
        .navbar-collapse {
            display: flex;
            justify-content: center; /* Centraliza os itens horizontalmente */
            align-items: center; /* Centraliza os itens verticalmente */
        }

        .navbar-nav {
            flex-direction: column; /* Exibe os itens em coluna */
            text-align: center; /* Alinha o texto ao centro */
        }

        .nav-link {
            margin: 10px 0; /* Espaçamento vertical entre os links */
        }
    }